@import "bootstrap.min";
@import "AdminLTE.min";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "_all-skins.min";
@import "fullcalendar";
@import "style";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";
@import "admins/*";


.pdf-main-heading {
    font-size: 80px !important;
}

.pdf-sub-heading {
    font-size: 60px !important;
}

.pdf-paragraph {
    font-size: 40px !important;
}
