<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Testing</title>
  <meta name="description" content="description">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <%= wicked_pdf_stylesheet_link_tag "pdf.scss.css" -%>
  <%= javascript_include_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class='my_container'>
      <%= yield %>
    </div>
  </body>
</html>
